code
  display block
  background black
  color #eeeeee
  line-height 1.5
  border-radius 5px
  padding 5px
  white-space pre
  overflow-x auto

.hemisu-black
.hemisu-bg
  color #000000

.hemisu-white
  color #FFFFFF

.hemisu-almostWhite
.hemisu-norm
  color #EEEEEE

.hemisu-almostBlack
.hemisu-faint
  color #111111

.hemisu-middleDarkGrey
.hemisu-comment
/* Comment */
span.co
  color #777777

.hemisu-middleLightGrey
.hemisu-dimmed
/* Documentation */
span.do
  color #999999

.hemisu-lightGrey
  color #BBBBBB

.hemisu-darkGrey
.hemisu-subtle
  color #444444

.hemisu-darkPink
.hemisu-faintRed
/* Alert */
span.al
/* Error */
span.er
/* Warning */
span.wa
  color #63001C

.hemisu-middleDarkPink
  color #FF0055

.hemisu-middleLightPink
.hemisu-normRed
  color #D65E76

.hemisu-lightPink
  color #FFAFAF

.hemisu-darkBlue
.hemisu-faintBlue
  color #005F87

.hemisu-middleDarkBlue
  color #538192

.hemisu-middleLightBlue
.hemisu-accent1
.hemisu-normBlue
/* DecVal */
span.dv
/* BaseN */
span.bn
/* Float */
span.fl
/* Constant */
span.cn
/* Preprocessor */
span.pp
  color #9FD3E6

.hemisu-lightBlue
  color #CBE4EE

.hemisu-darkGreen
.hemisu-faintGreen
  color #5F5F00

.hemisu-middleDarkGreen
  color #739200

.hemisu-middleLightGreen
.hemisu-accent2
.hemisu-normGreen
/* Char */
span.ch
/* String */
span.st
/* SpecialChar */
span.sc
/* VerbatimString */
span.vs
/* Import */
span.im
/* SpecialString */
span.ss
  color #B1D631

.hemisu-lightGreen
.hemisu-accent3
/* Keyword */
span.kw
/* ControlFlow */
span.cf
/* Other */
span.ot
/* DataType */
span.dt
  color #BBFFAA

.hemisu-darkTan
  color #503D15

.hemisu-lightTan
.hemisu-accent4
  color #ECE1C8

/* Function */
span.fu
/* BuiltIn */
span.bu
/* Operator */
span.op
/* Variable */
span.va
/* Annotation */
span.an
/* CommentVar */
span.cv
/* Information */
span.in
/* Extension */
span.ex
/* Attribute */
span.at
  color inherit
