pre,
code {
  display: block;
  background: #000;
  color: #eee;
  line-height: 1.5;
  border-radius: 10px;
  padding: 10px;
  white-space: pre;
  overflow-x: auto;
}
.hemisu-black,
.hemisu-bg {
  color: #000;
}
.hemisu-white {
  color: #fff;
}
.hemisu-almostWhite,
.hemisu-norm {
  color: #eee;
}
.hemisu-almostBlack,
.hemisu-faint {
  color: #111;
}
.hemisu-middleDarkGrey,
.hemisu-comment,
code > span.co {
  color: #777;
}
.hemisu-middleLightGrey,
.hemisu-dimmed,
code > span.do {
  color: #999;
}
.hemisu-lightGrey {
  color: #bbb;
}
.hemisu-darkGrey,
.hemisu-subtle {
  color: #444;
}
.hemisu-darkPink,
.hemisu-faintRed,
code > span.al,
code > span.er,
code > span.wa {
  color: #63001c;
}
.hemisu-middleDarkPink {
  color: #f05;
}
.hemisu-middleLightPink,
.hemisu-normRed {
  color: #d65e76;
}
.hemisu-lightPink {
  color: #ffafaf;
}
.hemisu-darkBlue,
.hemisu-faintBlue {
  color: #005f87;
}
.hemisu-middleDarkBlue {
  color: #538192;
}
.hemisu-middleLightBlue,
.hemisu-accent1,
.hemisu-normBlue,
code > span.dv,
code > span.bn,
code > span.fl,
code > span.cn,
code > span.pp {
  color: #9fd3e6;
}
.hemisu-lightBlue {
  color: #cbe4ee;
}
.hemisu-darkGreen,
.hemisu-faintGreen {
  color: #5f5f00;
}
.hemisu-middleDarkGreen {
  color: #739200;
}
.hemisu-middleLightGreen,
.hemisu-accent2,
.hemisu-normGreen,
code > span.ch,
code > span.st,
code > span.sc,
code > span.vs,
code > span.im,
code > span.ss {
  color: #b1d631;
}
.hemisu-lightGreen,
.hemisu-accent3,
code > span.kw,
code > span.cf,
code > span.ot,
code > span.dt {
  color: #bfa;
}
.hemisu-darkTan {
  color: #503d15;
}
.hemisu-lightTan,
.hemisu-accent4 {
  color: #ece1c8;
}
/* Function */

