pre > code
  display block
  background black
  color #eeeeee
  line-height 1.5
  border-radius 10px
  padding 10px
  white-space pre
  overflow-x auto

.hemisu-black
.hemisu-bg
  color #000000

.hemisu-white
  color #FFFFFF

.hemisu-almostWhite
.hemisu-norm
  color #EEEEEE

.hemisu-almostBlack
.hemisu-faint
  color #111111

.hemisu-middleDarkGrey
.hemisu-comment
/* Comment */
code > span.co
  color #777777

.hemisu-middleLightGrey
.hemisu-dimmed
/* Documentation */
code > span.do
  color #999999

.hemisu-lightGrey
  color #BBBBBB

.hemisu-darkGrey
.hemisu-subtle
  color #444444

.hemisu-darkPink
.hemisu-faintRed
/* Alert */
code > span.al
/* Error */
code > span.er
/* Warning */
code > span.wa
  color #63001C

.hemisu-middleDarkPink
  color #FF0055

.hemisu-middleLightPink
.hemisu-normRed
  color #D65E76

.hemisu-lightPink
  color #FFAFAF

.hemisu-darkBlue
.hemisu-faintBlue
  color #005F87

.hemisu-middleDarkBlue
  color #538192

.hemisu-middleLightBlue
.hemisu-accent1
.hemisu-normBlue
/* DecVal */
code > span.dv
/* BaseN */
code > span.bn
/* Float */
code > span.fl
/* Constant */
code > span.cn
/* Preprocessor */
code > span.pp
  color #9FD3E6

.hemisu-lightBlue
  color #CBE4EE

.hemisu-darkGreen
.hemisu-faintGreen
  color #5F5F00

.hemisu-middleDarkGreen
  color #739200

.hemisu-middleLightGreen
.hemisu-accent2
.hemisu-normGreen
/* Char */
code > span.ch
/* String */
code > span.st
/* SpecialChar */
code > span.sc
/* VerbatimString */
code > span.vs
/* Import */
code > span.im
/* SpecialString */
code > span.ss
  color #B1D631

.hemisu-lightGreen
.hemisu-accent3
/* Keyword */
code > span.kw
/* ControlFlow */
code > span.cf
/* Other */
code > span.ot
/* DataType */
code > span.dt
  color #BBFFAA

.hemisu-darkTan
  color #503D15

.hemisu-lightTan
.hemisu-accent4
  color #ECE1C8

/* Function */
code > span.fu
/* BuiltIn */
code > span.bu
/* Operator */
code > span.op
/* Variable */
code > span.va
/* Annotation */
code > span.an
/* CommentVar */
code > span.cv
/* Information */
code > span.in
/* Extension */
code > span.ex
/* Attribute */
code > span.at
{}