html
  font-family Georgia, serif
  hyphens auto
  text-rendering optimizeLegibility

h1
h2
h3
h4
h5
h6
  font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif

pre
code
  font-family "Lucida Console", Monaco, courier, monospace

blockquote
  font-style italic