html
  text-align justify
  hyphens auto

h1
h2
h3
h4
h5
h6
  text-align left

p
  text-indent 1em

img
  max-width 100%
  max-height 100%

h1 + p
h2 + p
h3 + p
code
  text-indent 0em

blockquote > p
  text-indent -.5em

blockquote > p:before
  content '“'

blockquote > p:after
  content '”'

ul > li
  list-style none

ul > li:before
  content '– '

ol
  list-style-type none

ol:first-of-type
  counter-reset listitem

li:before
  display inline-block
  content counter(listitem)'. '
  counter-increment listitem

ol ol:first-of-type
  counter-reset sublistitem

ol ol li:before
  content counter(listitem)'.'counter(sublistitem)'. '
  counter-increment sublistitem
